* {
    transition: all 250ms ease-out;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: monospace;
    color: var(--text);
    background-color: var(--background-0);
    overflow: hidden;
    display: grid;
    place-items: center;
}

.background {
    background-color: var(--background-1);
    margin: 2em;
    border-radius: 14px;
    width: calc(100vw - 4em);
    height: calc(100vh - 4em);   
    display: grid;
    place-items: center;
}

.wrapper {
    display: grid;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.output {
    border: var(--border-0) solid 3px;
    background-color: var(--background-2);
    color: var(--text);
    font-size: 2em;
    border-radius: 14px;
    display: grid;
    place-items: center;
    grid-template-columns: 85% 15%;
    overflow: hidden;
    transition: all 250ms ease-out;
}

.generator {
    border: var(--border-0) solid 3px;
    padding: 1em;
    background-color: var(--background-2);
    color: var(--text);
    font-size: 1.5em;
    border-radius: 14px;
    text-align: center;
}

#generated {
    -webkit-text-security: disc;
    transition: all 250ms ease-out;
    font-size: 16px;
}
#generated:hover {
    -webkit-text-security: none;
    cursor: text;
}

#reveal {
    background-color: transparent;
    color: var(--text);
    border: none;
    font-size: 0.75em;
    transform: translate(-5%, 0%);
    text-align: end;
    cursor: pointer;
    transition: all 250ms ease-out;
    padding: 0.25em;
    aspect-ratio: 1/1;
    width: 115%;
    height: 110%;
    background-color:var(--border-0);
}
#reveal:hover {
    background-color: var(--primary);
    border-color: var(--primary);

}

.output:has(#reveal:hover) {
    border-color: var(--primary);
}

.length-wrapper {
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;
    margin: 0.5em 0em;
    gap: 0.5em;
}

#generate {
    border: var(--border-1) 2px solid;
    background-color: var(--background-2);
    color: var(--text);
    padding: 0.5em 1em;
    font-family: monospace;
    border-radius: 10px;
    cursor: pointer;
    transition: all 250ms ease-out;
}
#generate:hover {
    border-color: var(--primary);
}

.hider {
    aspect-ratio: 1/1;
    width: 80%;
    transform: translate(-10%, 15%);
}

#length {
    cursor: ew-resize;
    transition: all 250ms ease-out;
    background-color: transparent;
}
#length::-moz-range-track {
    background-color: var(--border-0);
    height: 10px;
    border-radius: 100px;
}
#length::-moz-range-progress {
    background-color: var(--primary);
    height: 10px;
    border-radius: 100px 0 0 100px;
}
#length::-moz-range-thumb {
    background-color: var(--text);
    width: 10px;
    height: 10px;
    border-color: transparent;
}

select {
    color: var(--text);
    padding: 0.75em;
    font-family: monospace;
    text-align: center;
    border-radius: 14px;
    border: var(--border-0) solid 3px;
    width: 100%;
    background-color: var(--background-2);
}